/LLaMA-7B/
/out
*.pth
/LLaVA/
/checkpoints/
/alfred/
/log
*.zip
/data/OctoGibson_data
/wandb/
/weight/
/scenes/

EmbodiedCodeMapping/*
!EmbodiedCodeMapping/codegounding.py
!EmbodiedCodeMapping/grounding.py
/EmbodiedMapping_database/
/log/